@tailwind base;
@tailwind components;
@tailwind utilities;

#testimonials::-webkit-scrollbar {
  display: none;
}
h1 {
  font-family: "integralCF.variable", sans-serif;
}

.animate-scroll {
  display: flex;
  gap: 2rem;
  animation: scroll-left 16s linear infinite;
}

@keyframes scroll-left {
  0% {
      transform: translateX(0);
  }
      50%{
      transform: translateX(-120%);
      }
  100% {
      transform: translateX(0%);
  }
}